/* * {
    border: thin solid red;
} */

/* Overall layout */

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header,
footer,
main > section {
    padding: 0 15%;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 30px;
    width: 120px;
    border-radius: 8px;
    font-weight: bold;
}

/* Styles for main container */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main > section {
    flex: 1;
}

/* Styles for hero section */

section.hero {
    display: flex;
    background-color: #1F2937;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.placeholder {
    width: 100%;
    height: 300px;
    color: #F9FAF8;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-maintext {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    flex-shrink: 0;
    margin-top: 10px;
}

/* Styles for info section */

section.info {
    display: flex;
    flex-direction: column;
    padding: 40px 20% 100px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.cards {
    display: flex;
    flex: 1;
    gap: 60px;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.card-image {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    border-style: solid;
    border-width: 5px;
    border-color: #3882F6;
}

.card-text {
    color: #1F2937;
    padding-top: 10px;
    font-weight: 300;
}

/* Styles for quote section */

section.quote {
    background-color: #E5E7EB;
    padding: 100px 20% 80px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 200;
}

.quote-author {
    font-weight: 800;
    font-size: 20px;
    text-align: end;
}

/* Styles for action section */

section.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.action-box {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 30px 80px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
}

.action-box-text-header {
    font-size: 20px;
    font-weight: 800;
}

.action-box button {
    border-color: #F9FAF8;
    border-width: 2px;
}

/* Styles for header and footer */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    height: 80px;
}

header .logo-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

header ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    gap: 30px;
}

header ul a {
    color: #E5E7EB;
    text-decoration: none;
}

footer {
    color: #E5E7EB;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

